extends layout

block content
    .container-fluid
        table.table.table-hover
            tbody
                for article in articles
                    tr.normal-row
                        if !article.title
                            td
                                a.no-underline(href=article.story.story_url, target="_blank")
                                    span.custom-content #{article.story.story_title} - &nbsp;
                                        span.author-color #{article.author.name} -
                        else
                            td
                                a.no-underline(href=article.url, target="_blank")
                                    span.custom-content #{article.title} - &nbsp;
                                        span.author-color #{article.author.name} -
                        td
                            span.custom-content #{article.date_created_friendly}
                        td
                            form(action='/#{article._id}', method='post')
                                button.fa.fa-trash(type='submit')
