extends layout

block content
    .container-fluid
        table.table.table-hover
            tbody
                for article in articles
                    tr
                        if !article.title
                            td
                                a(href=article.story.story_url, target="_blank") #{article.story.story_title}
                        else
                            td
                                a(href=article.title, target="_blank") #{article.title}
                        td #{article.date_created_friendly}
                        td
                            a(href=article.id)
                                i.fa.fa-trash


